@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    /*background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhMWFRUXFxcYFx*/
    background-color: #fafafa;
   
  }
  .special {
    text-decoration: none;
    color: #100C08;
    transition: color 0.3s, background-size .3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
 
  }
  .special:hover, .special:focus {
    text-decoration: none; 
    background-size: 100% 2px;
    color: #ccc;
}
.nav li{
  display: inline-block; 
}
#bottom-bor{
 margin-top: 10%;
 z-index: 10;
}
.divider
{
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
table{
  width: 100%; 
  height: 100%;
}
#globe{
  -webkit-filter: saturate(200%); /* Safari 6.0 - 9.0 */
  filter: saturate(200%);
  height: 40%;
  width: 250%;
  padding: 0;
  margin: 1%;  
}
.layout img{
  width: 25%;
  height: 25%; 
  padding: 0; 
}
.layout{
  margin: 0; 
  padding: 0; 
  display: inline;
  position: flex; 
  transform: translateY(50%);  
  margin-left: auto;
  margin-right: auto; 
}

.hero{
  border-collapse: collapse;
  border-spacing: 0; 
}
.hero tr{
  line-height: 1;
}
.focus h1{
  margin-top: -50%; 
  text-align: center;
}
.focus2 h1{
  margin-top: -10%;
  text-align: center;
}

#texture{
  background: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1336.jpg") repeat 0 0;
}
h1{
  color: white; 
}
table td{
  padding: 100px; 
  color: white;
}
table p{
  text-align: center;
  font-size: 20px;
}
li{
  padding: 12%;
}
ul{
  list-style: none;
}

.speech-bubble {
  background: #ddd;
  color: #333;
  display: inline-block;
	font-size: 14px;
  line-height: 4em;
  margin-bottom: 1em;
	padding: 0 1em;
	position: relative;
	text-align: center;
	vertical-align: top;
		min-width: 7em;
}
.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	margin-left: -1em;
	position: absolute;
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
}

.speech-bubble.large {
	font-size: 2em;
	padding: 0 1em;
		min-width: 4em;
}

.speech-bubble.rounded {
	border-radius: .4em;
}

.speech-bubble.blue {
	background: #ddf;
	color: #334;
}
.speech-bubble.blue:after {
	border-top-color: #ddf;
}

.footer{
  background-color:#CE2029;
  width: 100%;
  text-align: center;
}

  .site-header { 
    transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    border-bottom: 1px solid #DCE0D9;
    background-color: #CE2029;
    text-shadow: none; 
    width: 100%;
    color: black; 
    padding: .5em 1em;
    position: fixed;
    z-index: 10; 
    text-decoration: none;
  }
  .site-header.transparent {
    background-color: transparent; 
    filter: invert(100%);
    color: #fafafa;
    text-shadow: 1px 1px #808F85;
    
    }
  #logotxt{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px #808F85;
  }
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }

  .button {
    transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
    background-color: #CE2029; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10%;
    font-family: Ubuntu;
    box-shadow: 2px 2px 1px #100C08;
    
  }
  .button:hover{
    border: #ccc;
    box-shadow: 2px 2px 1px #ccc;
    background-color: #D63440;
  }
  .button p{
    transform: TranslateY(40%)
  }
  #SignUp{
    position: absolute;
    margin-top: 100px; 
    bottom: 10px; /* Adjust this value for your design */
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Necessary to truly center the button */
}
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    max-width: 65px;
    float: left;
    margin: 5px 10px 0 0;
    transition: 0.6s ease;
    
  }
  .site-identity img:hover{
    background-color: rgba(0,0,0,0.5);
  }
  .site-navigation {
    float: right;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
    font-weight: 150; 
    font-family: "Roboto", sans-serif;
  }
/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 99%;
  margin: auto;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #DCE0D9;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-shadow:#ccc;
}
.dotgrp{
  position: absolute;
  margin-top: 65%;
  z-index: 3;
  margin-left: 35%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,0,59,0.8);
}

/* Caption text */
.text {
  color: #100C08;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #100C08;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.slideshow-container{
    position: relative;
    z-index: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 20px;
  background-color: #100C08;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #CE2029;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.style {
  display: block;
  border-radius: 5%;  
  line-height: 150%;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* For bold */
  text-decoration: none;
  color: black; 
  background-color: rgba(255,255,255,0.4);
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.style span{
  position: relative;
  z-index: 2; 
}

.style:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  text-decoration: underline; 
  border-radius: 5%; 
  transition: all .35s;
}

.style:hover{
  color: #fff;
}

.style:hover:after{
  width: 100%;
}

/* #CE2029  Red
#100C08 Black
#808F85 Darker Grey
#DCE0D9 Lighter grey*/

/* Copy Website 
https://www.athleticlab.com/# */ 