@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  /*background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhMWFRUXFxcYFx*/
  background-color: #fafafa; 
 
}
.image{
  background-image: url("./Images/track.jpg") !important;
  background-size: cover !important;
}
.special {
  text-decoration: none;
  color: #100C08;
  transition: color 0.3s, background-size .3s;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;

}
.special:hover, .special:focus {
  text-decoration: none; 
  background-size: 100% 2px;
  color: #ccc;
}

.nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.nav i {
  font-size: 40px; /* Adjust icon size for mobile */
}
.nav li{
display: inline-block; 
}
#Bio{
position: relative;
transform: translateY(-18%); 
}
#bottom-bor{
margin-top: 10%;
z-index: 10;
}
.nav{
  display: flex; 
}
.divider
{
position: relative;
margin-top: 19.6%;
height: 1px;
}

.div-transparent:before
{
content: "";
position: absolute;
top: 0;
left: 5%;
right: 5%;
width: 100vw; 
height: 1px;
background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
table{
width: 100%; 
height: 100%;
}
#globe{
/*-webkit-filter: saturate(200%);  Safari 6.0 - 9.0 */
/*filter: saturate(200%);*/
filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
height: 120%;
width: 2000%;
padding: 0;
margin: 1%; 
}
.layout img{
max-width: 30%;
max-height: 25%; 
padding: 0; 
}
#altSignUp{
  display: none;
  visibility: hidden; 
}
.translate{
position: relative; 
transform: translateX(70%) translateY(-95%); 
margin-top: -10%; 
}
.translate h1{
background-color: rgba(0,0,0,0.05);
padding: 1.67%; 
}
.layout{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px; /* Adjust the gap between images */
margin: 0; 
padding: 0; 
display: inline;
position: flex; 
transform: translateY(50%);  
transform: translateX(-10%);
margin-left: auto;
margin-right: auto; 
}

.hero{
border-collapse: collapse;
border-spacing: 0; 
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.hero tr{
line-height: 1;
border-bottom: 2px solid #A0A995;
border-top: 2px solid #A0A995; 
}

.focus h1{
margin-top: -50%; 
text-align: center;
font-size: 2.5vw; 
}
.focus2 h1{
margin-top: -10%;
text-align: center;
}

#texture{
background: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1336.jpg") repeat 0 0;
width: 100% !important; 
}
#photo img{
border-radius: 2%; 
}
h1{
color: white; 
}
table td{
padding: 100px;
color: white;
}
table p{
text-align: center;
font-size: 20px;
}
li{
padding: 12%;
}
ul{
list-style: none;
}
.bio tr{
/* margin: 70% 0 0 0;  */
padding: 0; 
}
.bio td{
  padding: 25px; 
}

.mobile-view{
  display: none;
  visibility: hidd
}

.biohead{
background-color: rgba(255,0,59,0.8);
border-radius: 2%; 
position: relative;
padding: 20px; 
z-index: 20; 
transform: translateX(-60%);
}
#biotxt{
width: 100%; 
position: relative;  
transform: translateY(30%);
background-color: rgba(0,0,0,0.6);
font-size: 18px !important; 
transition: background-color 0.2s ease-in-out;
}

#biotxt:hover{
background-color: rgba(0,0,0,0.3);
}
.offer{
background-color: transparent;
transition: background-color 0.2s ease-in-out; 
border-radius: 2%; 
}
#head_of{
  font-size: 30px !important; 
}
.offer:hover{
background-color: rgba(255,255,255,0.3);
}
.glow{
box-shadow: none;
transition: box-shadow 0.2s ease-in-out;
}
.glow:hover{
box-shadow: 2px 2px 1px #333333; 
}


.speech-bubble {
background: #ddd;
color: #333;
display: inline-block;
font-size: 14px;
line-height: 4em;
margin-bottom: 1em;
padding: 0 1em;
position: relative;
text-align: center;
vertical-align: top;
  min-width: 7em;
}
.speech-bubble:after {
border: 1em solid transparent;
border-top-color: #ddd;
content: '';
margin-left: -1em;
position: absolute;
  top: 100%;
  left: 50%;
width: 0;
height: 0;
}

.speech-bubble.large {
font-size: 2em;
padding: 0 1em;
  min-width: 4em;
}

.speech-bubble.rounded {
border-radius: .4em;
}

.speech-bubble.blue {
background: #ddf;
color: #334;
}
.speech-bubble.blue:after {
border-top-color: #ddf;
}




.footer{
background-color:#CE2029;
width: 100%;
text-align: center;
}
#dropdown{
  visibility: hidden; 
  display: none; 
}
.site-header { 
  transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  border-bottom: 1px solid #DCE0D9;
  background-color: #CE2029;
  text-shadow: none; 
  min-width: 100vw; 
  color: black; 
  padding: .2em 0.2em; 
  height: 6vw; 
  position: fixed;
  z-index: 10; 
  text-decoration: none;
}
.site-header.transparent {
  background-color: transparent; 
  filter: invert(100%);
  color: #fafafa;
  text-shadow: 1px 1px #808F85;
  
  }

.site-header::after {
  content: "";
  display: table;
  clear: both;
}
#logotxt{
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 1px #fafafa;
}
.button {
  transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
  background-color: #CE2029; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 10%;
  font-family: Ubuntu;
  box-shadow: 2px 2px 1px #100C08;
  
}
.button:hover{
  border: #ccc;
  box-shadow: 2px 2px 1px #ccc;
  background-color: #D63440;
}
.button p{
  transform: TranslateY(40%)
}
#SignUp{
  position: absolute;
  margin-top: 100px; 
  bottom: 2%;
  left: 25%; 
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 65px;
  float: left;
  margin: 5px 10px 0 0;
  transition: 0.6s ease;
  
}
.site-identity img:hover{
  background-color: rgba(0,0,0,0.5);
}

.site-navigation {
  float: right; 
}


.site-navigation ul, li {
  display: inline-block; 
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
  font-weight: 150; 
  font-family: "Roboto", sans-serif;
}
/* Slideshow container */
.slideshow-container {
position: relative;
max-width: 99%;
margin: auto;
z-index: 1;
background-color: black; 
}

/* Hide the images by default */
.mySlides {
display: none;
transition: display 0.2s ease-in-out; 
}

/* Next & previous buttons */
.text {
color: white; 
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.active, .dot:hover {
background-color: #CE2029;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 8.0s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.wrapper{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.style {
display: block;
border-radius: 5%;  
line-height: 150%;
font-size: 50px;
font-family: 'Roboto', sans-serif;
font-weight: 700; /* For bold */
text-decoration: none;
color: black; 
background-color: rgba(255,255,255,0.4);
border: 1px ridge #333;
letter-spacing: 2px;
text-align: center;
position: relative;
transition: all .35s;
}

.style span{
position: relative;
z-index: 2; 
}

.style:after{
position: absolute;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
background: #ff003b;
text-decoration: underline; 
border-radius: 5%; 
transition: all .35s;
}

.style:hover{
color: #fff;
}

.style:hover:after{
width: 100%;
}
#up{
color: white; 
}
#up:hover{
color: black; 
}
.grow{
font-size: 25px;
transition: font-size 0.6s ease-in-out; 
}
.grow:hover{
font-size: 26px; 
}
/**** slider ****/

#text-slider, ul
{
	height: 300px;
}

#text-slider
{
	margin: auto;
	overflow: hidden; 
	position: relative;
	max-width: 600px;
}

#text-slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
	height: 200px;
}

#text-slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .3s linear;
	-moz-transition: left .3s linear;
	-o-transition: left .3s linear;
	-webkit-transition: left .3s linear;
	margin-left: -25px;
  font-family: century gothic;
  color: #666;
}

/*** Content ***/

.text-slider-container
{
	margin: 0 auto;
	padding: 0;
	width: 550px;
  min-height: 180px;
}

.text-slider-container h4
{
  font-family: 'Work sans', sans-serif;
 	color: #000;
  font-weight:400;
  font-size: 20px;
}
.text-slider-container h5 {
	text-align: right;
	font-weight:normal;
	font-family: 'Questrial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
  color:#EE2D24;
}

.text-slider-container  p
{
  text-indent: 40px;
	font-family: 'Questrial', sans-serif;
	font-size: 15px;
	color: #434343;
	line-height: 200%;
	margin:0 auto 0 auto;
	margin: 10px 25px;
	text-align: justify;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#text-slider ul
{
	-webkit-animation: slide-animation 25s infinite;
}

/* use to paused the content on mouse over */

#text-slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}



#black{
background-color: #100C08 !important; 
transition: background-color 0.4s ease-in-out;
}
#red{
background-color: #FF003B !important; 
transition: background-color 0.4s ease-in-out;
}
#gray{
background-color: #808F85 !important; 
transition: background-color 0.4s ease-in-out;
}
#black:hover, #red:hover, #gray:hover{
opacity: 0.6; 
}
#card-head:hover{
opacity: 0.6 !important; 
}


.text-fade {
display: flex;
justify-content: center;
align-items: center;
height: 20%; 
background-color: #f0f0f0; /* Change this to your desired background color */
}

.text-container {
position: relative;
width: max-content;
white-space: nowrap;
overflow: hidden;
position: absolute;
padding: 0; 
left: 0;
right: 0;
margin: 0 auto;
}

.text-segment {
z-index: 1; 
text-align: center;
display: inline-block;
text-shadow: 1px 1px #fafafa;
font-size: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
opacity: 0;
animation: fade 16s linear infinite;
}
.text-segement:nthchild(1){
animation-delay: 0; 
}
.text-segment:nth-child(2) {
animation-delay: 4s; /* Delay the start of the second segment by 4 seconds */
}

.text-segment:nth-child(3) {
animation-delay: 8s; /* Delay the start of the third segment by 8 seconds */
}
.text-segment:nth-child(4) {
animation-delay: 12s; /* Delay the start of the third segment by 8 seconds */
}

@keyframes fade {
0%, 30% {
    opacity: 0;
}
31%, 75% {
    opacity: 1;
}
76%, 100% {
    opacity: 0;
}
}


/* #CE2029  Red
#100C08 Black
#808F85 Darker Grey
#DCE0D9 Lighter grey*/

/* Copy Website 
https://www.athleticlab.com/# */ 
@media (max-width: 768px){
  body {
    margin: 0;
    /*background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhMWFRUXFxcYFx*/
    background-color: #fafafa; 
   
  }
  #cincopa_a400c9{
    transform: TranslateY(20%); 
    width: 100vw; 
  }
  .image{
    background-image: url("./Images/track.jpg") !important;
    background-size: cover !important;
  }
  .layout {
    flex-direction: column; /* Stack images on small screens */
  }
  .special {
    text-decoration: none;
    color: #100C08;
    transition: color 0.3s, background-size .3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
 
  }
  .special:hover, .special:focus {
    text-decoration: none; 
    background-size: 100% 2px;
    color: #ccc;
}
.services tr td{
  display: block !important; 
}
.desktop{
  visibility: hidden;
  display: none;
}
#Bio{
  position: relative;
  transform: translateY(-18%); 
}
#bottom-bor{
 margin-top: 10%;
 z-index: 10;
}
.divider
{
  position: relative;
  margin-top: 19.6%;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
#dropdown{
  visibility: visible;
  display: inline-block; 
  font-size: 40px; 
  color: white; 
  cursor: pointer;
  z-index: 40; 
}
table{
  width: 100%;
  height: 100%;
}
#altSignUp{
  visibility: visible;
  display: block; 
  width: 100vw; 
  color: inherit;
  text-decoration: none;
  text-shadow: 1px 1px #fafafa; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.globe-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#globe{
  /*-webkit-filter: saturate(200%);  Safari 6.0 - 9.0 */
  /*filter: saturate(200%);*/
  filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
  height: 0;
  width: 0; 
  padding: 0;
  margin: 1%; 
}
.layout img{
  width: 100%;
  max-width: 200px; /* Adjust the max-width for your images */
  height: auto; 
}
.translate{
  overflow-wrap: break-word;
  white-space: normal; 
  position: relative; 
  transform: translateX(80%) translateY(-95%); 
  margin-top: -10%; 
}
.translate h1{
  background-color: rgba(0,0,0,0.05);
  padding: 5px; 
}
.layout{
  margin: 0; 
  padding: 0; 
  display: inline;
  position: flex; 
  transform: translateY(50%);  
  transform: translateX(-10%);
  margin-left: auto;
  margin-right: auto; 
}

.hero{
  border-collapse: collapse;
  border-spacing: 0; 
  margin-left: 0; 
}
.hero tr{
  line-height: 1;
  border-bottom: 2px solid #A0A995;
  border-top: 2px solid #A0A995; 
}

.focus h1{
  margin-top: -50%; 
  text-align: center;
  font-size: 0.5vw; 
}
.focus2 h1{
  margin-top: -10%;
  text-align: center;
}

#texture{
  background: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1336.jpg") repeat 0 0;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
#photo1 img{
  border-radius: 2%;
  max-width: 30vw;
  max-height: 50vw; 
}
#photo2 img{
  border-radius: 2%; 
  max-width: 30vw;
  max-height: 50vw; 
}
h1{
  color: white; 
}
table td{
  padding: 50%; 
  color: white;
}
table p{
  text-align: center;
  font-size: 20px;
}
li{
  padding: 12%;
}
ul{
  list-style: none;
}
.bio{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important; 
}
.bio tr{
 /* margin: 70% 0 0 0;  */
  padding: 0; 
}
.biohead{
  background-color: rgba(255,0,59,0.8);
  border-radius: 2%; 
  position: relative;
  padding: 1%; 
  z-index: 20; 
}
#biotxt{
  position: relative;  
  transform: translateY(60%);
  background-color: rgba(0,0,0,0.6);
  transition: background-color 0.2s ease-in-out;
}
#biotxt:hover{
  background-color: rgba(0,0,0,0.3);
}

.offer{
  background-color: transparent;
  transition: background-color 0.2s ease-in-out; 
  border-radius: 2%; 
}
.offer:hover{
  background-color: rgba(255,255,255,0.3);
}
.glow{
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  flex-grow: 3; 
}
.glow:hover{
  box-shadow: 2px 2px 1px #333333; 
}


.speech-bubble {
  background: #ddd;
  color: #333;
  display: inline-block;
	font-size: 14px;
  line-height: 4em;
  margin-bottom: 1em;
	padding: 0 1em;
	position: relative;
	text-align: center;
	vertical-align: top;
		min-width: 7em;
}
.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	margin-left: -1em;
	position: absolute;
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
}

.speech-bubble.large {
	font-size: 2em;
	padding: 0 1em;
		min-width: 4em;
}

.speech-bubble.rounded {
	border-radius: .4em;
}

.speech-bubble.blue {
	background: #ddf;
	color: #334;
}
.speech-bubble.blue:after {
	border-top-color: #ddf;
}

.footer{
  background-color:#CE2029;
  width: 100%;
  text-align: center;
}

  .site-header { 
    transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    display: block; 
    height: 30%; 
    border-bottom: 1px solid #DCE0D9;
    background-color: #CE2029;
    text-shadow: none; 
    width: 100vw !important; 
    color: black; 
    padding: .2em 0.2em; 
    position: fixed;
    z-index: 10; 
    text-decoration: none;
  }
  #logotxt{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px #fafafa;
  }
  
  
  .button {
    transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
    background-color: #CE2029; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10%;
    font-family: Ubuntu;
    box-shadow: 2px 2px 1px #100C08;
    
  }
  .button:hover{
    border: #ccc;
    box-shadow: 2px 2px 1px #ccc;
    background-color: #D63440;
  }
  .button p{
    transform: TranslateY(40%)
  }
  #SignUp{
    display: none;
    visibility:hidden;
}
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    float: left; 
    max-width: 30px;
    margin: 5px 10px 0 0;
    transition: 0.6s ease;
    
  }
  .site-identity img:hover{
    background-color: rgba(0,0,0,0.5);
  }
  .site-navigation {
    float: none; 
    display: none !important;
    max-height: 0px; 
    visibility: hidden !important;  
    opacity: 0;
    transition: max-height 0.4s ease-in-out; 
  }
  .site-navigation.show{
    display: block;
    visibility: visible; 
    opacity: 1; 
    max-height: 400px; 
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
    flex: 0.5; 
  }
  
  
 
/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 99%;
  margin: auto;
  z-index: 1;
  background-color: black; 
}

/* Hide the images by default */

.text {
  color: white; 
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.active, .dot:hover {
  background-color: #CE2029;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8.0s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.style {
  display: block !important;
  border-radius: 5%;  
  line-height: 150%;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* For bold */
  text-decoration: none;
  color: black; 
  background-color: rgba(255,255,255,0.4);
  border: 1px ridge #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.style span{
  position: relative;
  z-index: 2; 
}

.style:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  text-decoration: underline; 
  border-radius: 5%; 
  transition: all .35s;
}

.style:hover{
  color: #fff;
}

.style:hover:after{
  width: 100%;
}
#up{
  color: white; 
}
#up:hover{
  color: black; 
}
.grow{
  font-size: 25px;
  transition: font-size 0.6s ease-in-out; 
}
.grow:hover{
  font-size: 26px; 
}



#slider, ul
{
	height: 200px;
}

#slider
{
	margin: auto;
	overflow: hidden;
	padding: 20px;
	margin-top: 50px;
	position: relative;
	width: 600px;
}

#slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
	height: 200px;
}

#slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .2s linear;
	-moz-transition: left .2s linear;
	-o-transition: left .2s linear;
	-webkit-transition: left .2s linear;
	margin-left: -25px;
  font-family: open sans;
  color: #666;
}

/*** Content ***/

.slider-container
{
  color:#000;
	margin: 0 auto;
	padding: 0;
	width: 550px;
  min-height: 180px;
  text-align:center;
}

.slider-container h2
{
 	color: #fff;
}

.slider-container  p
{
	margin: 10px 25px;
	font-weight: semi-bold;
	line-height: 150%;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#slider ul
{
	-webkit-animation: slide-animation 5s infinite;
}

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}


/*SignUp CSS*/
#black{
  background-color: #100C08 !important; 
  transition: background-color 0.4s ease-in-out;
}
#red{
  background-color: #FF003B !important; 
  transition: background-color 0.4s ease-in-out;
}
#gray{
  background-color: #808F85 !important; 
  transition: background-color 0.4s ease-in-out;
}
#black:hover, #red:hover, #gray:hover{
  opacity: 0.6; 
}
#card-head:hover{
  opacity: 0.6 !important; 
}
 

.text-fade {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; 
  background-color: #f0f0f0; /* Change this to your desired background color */
}

.text-container {
  position: relative;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  padding: 0; 
  left: 0;
  right: 0;
  margin: 0 auto;
}
.mobile-view{
  visibility: hidden;
  display: none;
}
#altSignUp{
  visibility: hidden;
  display: none;
}
.text-segment {
  z-index: 1; 
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px #fafafa;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  opacity: 0;
  animation: fade 16s linear infinite;
}
.text-segement:nthchild(1){
  animation-delay: 0; 
}
.text-segment:nth-child(2) {
  animation-delay: 4s; /* Delay the start of the second segment by 4 seconds */
}

.text-segment:nth-child(3) {
  animation-delay: 8s; /* Delay the start of the third segment by 8 seconds */
}
.text-segment:nth-child(4) {
  animation-delay: 12s; /* Delay the start of the third segment by 8 seconds */
}

@keyframes fade {
  0%, 30% {
      opacity: 0;
  }
  31%, 75% {
      opacity: 1;
  }
  76%, 100% {
      opacity: 0;
  }
}


/* #CE2029  Red
#100C08 Black
#808F85 Darker Grey
#DCE0D9 Lighter grey*/

/* Copy Website 
https://www.athleticlab.com/# */ 
}
@media (max-width: 768px){
  body {
    margin: 0;
    /*background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhMWFRUXFxcYFx*/
    background-color: #fafafa; 
   
  }
  #cincopa_a400c9{
    transform: TranslateY(20%); 
    width: 100vw; 
  }
  .image{
    background-image: url("./Images/track.jpg") !important;
    background-size: cover !important;
  }
  .desktop{
    visibility: hidden;
    display: none;
  }
  .special {
    text-decoration: none;
    color: #100C08;
    transition: color 0.3s, background-size .3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
 
  }
  .special:hover, .special:focus {
    text-decoration: none; 
    background-size: 100% 2px;
    color: #ccc;
}
.services tr td{
  display: block !important; 
}

#Bio{
  position: relative;
  transform: translateY(-18%); 
}
#bottom-bor{
 margin-top: 10%;
 z-index: 10;
}
.divider
{
  position: relative;
  margin-top: 19.6%;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
#dropdown{
  visibility: visible;
  display: inline-block; 
  font-size: 40px; 
  color: white; 
  cursor: pointer;
  z-index: 40; 
}
table{
  width: 100%;
  height: 100%;
}
#altSignUp{
  visibility: visible;
  display: block; 
  width: 100vw; 
  color: inherit;
  text-decoration: none;
  text-shadow: 1px 1px #fafafa; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.globe-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#globe{
  /*-webkit-filter: saturate(200%);  Safari 6.0 - 9.0 */
  /*filter: saturate(200%);*/
  filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
  height: 0;
  width: 0; 
  padding: 0;
  margin: 1%; 
}
.layout img{
  width: 100%;
  max-width: 200px; /* Adjust the max-width for your images */
  height: auto; 
}
.translate{
  overflow-wrap: break-word;
  white-space: normal; 
  position: relative; 
  transform: translateX(80%) translateY(-95%); 
  margin-top: -10%; 
}
.translate h1{
  background-color: rgba(0,0,0,0.05);
  padding: 5px; 
}
.layout{
  margin: 0; 
  padding: 0; 
  display: inline;
  position: flex; 
  transform: translateY(50%);  
  transform: translateX(-10%);
  margin-left: auto;
  margin-right: auto; 
}

.hero{
  border-collapse: collapse;
  border-spacing: 0; 
  margin-left: 0; 
}
.hero tr{
  line-height: 1;
  border-bottom: 2px solid #A0A995;
  border-top: 2px solid #A0A995; 
}

.focus h1{
  margin-top: -50%; 
  text-align: center;
  font-size: 0.5vw; 
}
.focus2 h1{
  margin-top: -10%;
  text-align: center;
}

#texture{
  background: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1336.jpg") repeat 0 0;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

h1{
  color: white; 
}
table td{
  padding: 50%; 
  color: white;
}
table p{
  text-align: center;
  font-size: 20px;
}
li{
  padding: 12%;
}
ul{
  list-style: none;
}
.bio{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important; 
}
.bio tr{
 /* margin: 70% 0 0 0;  */
  padding: 0; 
}
.biohead{
  background-color: rgba(255,0,59,0.8);
  border-radius: 2%; 
  position: relative;
  padding: 1%; 
  z-index: 20; 
}
#biotxt{
  position: relative;  
  transform: translateY(60%);
  background-color: rgba(0,0,0,0.6);
  transition: background-color 0.2s ease-in-out;
}
#biotxt:hover{
  background-color: rgba(0,0,0,0.3);
}

.offer{
  background-color: transparent;
  transition: background-color 0.2s ease-in-out; 
  border-radius: 2%; 
}
.offer:hover{
  background-color: rgba(255,255,255,0.3);
}
.glow{
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  flex-grow: 3; 
}
.glow:hover{
  box-shadow: 2px 2px 1px #333333; 
}


.speech-bubble {
  background: #ddd;
  color: #333;
  display: inline-block;
	font-size: 14px;
  line-height: 4em;
  margin-bottom: 1em;
	padding: 0 1em;
	position: relative;
	text-align: center;
	vertical-align: top;
		min-width: 7em;
}
.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	margin-left: -1em;
	position: absolute;
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
}

.speech-bubble.large {
	font-size: 2em;
	padding: 0 1em;
		min-width: 4em;
}

.speech-bubble.rounded {
	border-radius: .4em;
}

.speech-bubble.blue {
	background: #ddf;
	color: #334;
}
.speech-bubble.blue:after {
	border-top-color: #ddf;
}

.footer{
  background-color:#CE2029;
  width: 100%;
  text-align: center;
}

  .site-header { 
    transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    display: inline-block; 
    height: 300vh !important;
    border-bottom: 1px solid #DCE0D9;
    background-color: #CE2029;
    text-shadow: none; 
    width: 100vw !important;  
    color: black; 
    padding: .01em 0.01em; 
    position: fixed;
    z-index: 10; 
    text-decoration: none;
  }
  #logotxt{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px #fafafa;
  }
  
  .button {
    transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
    background-color: #CE2029; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10%;
    font-family: Ubuntu;
    box-shadow: 2px 2px 1px #100C08;
    
  }
  .button:hover{
    border: #ccc;
    box-shadow: 2px 2px 1px #ccc;
    background-color: #D63440;
  }
  .button p{
    transform: TranslateY(40%)
  }
  #SignUp{
    display: none;
    visibility:hidden;
}
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    float: left; 
    max-width: 30px;
    margin: 5px 10px 0 0;
    transition: 0.6s ease;
    
  }
  .site-identity img:hover{
    background-color: rgba(0,0,0,0.5);
  }
  .site-navigation {
    float: none !important; 
    display: none !important;
    visibility: hidden !important; 
    z-index: 50; 
    margin-top: 50%;  
    /*
    max-height: 0 px; 
    transition: max-height 0.4s ease-in-out; 
    */
  }
  .site-navigation.show{
    display: block !important;
    visibility: visible; 
    max-height: 500px; 
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
    flex: 0.5; 
  }
  
  
 
/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 99%;
  margin: auto;
  z-index: 1;
  background-color: black; 
}

/* Hide the images by default */

.text {
  color: white; 
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.active, .dot:hover {
  background-color: #CE2029;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8.0s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.style {
  display: block !important;
  border-radius: 5%;  
  line-height: 150%;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* For bold */
  text-decoration: none;
  color: black; 
  background-color: rgba(255,255,255,0.4);
  border: 1px ridge #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.style span{
  position: relative;
  z-index: 2; 
}

.style:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  text-decoration: underline; 
  border-radius: 5%; 
  transition: all .35s;
}

.style:hover{
  color: #fff;
}

.style:hover:after{
  width: 100%;
}
#up{
  color: white; 
}
#up:hover{
  color: black; 
}
.grow{
  font-size: 25px;
  transition: font-size 0.6s ease-in-out; 
}
.grow:hover{
  font-size: 26px; 
}



#slider, ul
{
	height: 200px;
}

#slider
{
	margin: auto;
	overflow: hidden;
	padding: 20px;
	margin-top: 50px;
	position: relative;
	width: 600px;
}

#slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
	height: 200px;
}

#slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .2s linear;
	-moz-transition: left .2s linear;
	-o-transition: left .2s linear;
	-webkit-transition: left .2s linear;
	margin-left: -25px;
  font-family: open sans;
  color: #666;
}

/*** Content ***/

.slider-container
{
  color:#000;
	margin: 0 auto;
	padding: 0;
	width: 550px;
  min-height: 180px;
  text-align:center;
}

.slider-container h2
{
 	color: #fff;
}

.slider-container  p
{
	margin: 10px 25px;
	font-weight: semi-bold;
	line-height: 150%;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#slider ul
{
	-webkit-animation: slide-animation 5s infinite;
}

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}


/*SignUp CSS*/
#black{
  background-color: #100C08 !important; 
  transition: background-color 0.4s ease-in-out;
}
#red{
  background-color: #FF003B !important; 
  transition: background-color 0.4s ease-in-out;
}
#gray{
  background-color: #808F85 !important; 
  transition: background-color 0.4s ease-in-out;
}
#black:hover, #red:hover, #gray:hover{
  opacity: 0.6; 
}
#card-head:hover{
  opacity: 0.6 !important; 
}
 

.text-fade {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; 
  background-color: #f0f0f0; /* Change this to your desired background color */
}

.text-container {
  position: relative;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  padding: 0; 
  left: 0;
  right: 0;
  margin: 0 auto;
}

.text-segment {
  z-index: 1; 
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px #fafafa;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  opacity: 0;
  animation: fade 16s linear infinite;
}
.text-segement:nthchild(1){
  animation-delay: 0; 
}
.text-segment:nth-child(2) {
  animation-delay: 4s; /* Delay the start of the second segment by 4 seconds */
}

.text-segment:nth-child(3) {
  animation-delay: 8s; /* Delay the start of the third segment by 8 seconds */
}
.text-segment:nth-child(4) {
  animation-delay: 12s; /* Delay the start of the third segment by 8 seconds */
}

@keyframes fade {
  0%, 30% {
      opacity: 0;
  }
  31%, 75% {
      opacity: 1;
  }
  76%, 100% {
      opacity: 0;
  }
}


/* #CE2029  Red
#100C08 Black
#808F85 Darker Grey
#DCE0D9 Lighter grey*/

/* Copy Website 
https://www.athleticlab.com/# */ 
}
@media(max-width: 480px){
  body {
    margin: 0;
    /*background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhMWFRUXFxcYFx*/
    background-color: #fafafa; 
    overflow-x:hidden; 
    width: 90%; 
   
  }
  .desktop{
    display: none;
    visibility: hidden;
  }
  .image{
    background-image: url("./Images/track.jpg") !important;
    background-size: cover !important;
  }
  .special {
    text-decoration: none;
    color: #100C08;
    transition: color 0.3s, background-size .3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
 
  }
  .special:hover, .special:focus {
    text-decoration: none; 
    background-size: 100% 2px;
    color: #ccc;
}
#cincopa_a400c9{
  transform: TranslateY(20%); 
  width: 100vw; 
  height: 60vh; 
  padding-top: 0 !important; 
}
#altSignUp{
  visibility: visible;
  display: block; 
  width: 100vw; 
  color: inherit;
  text-decoration: none;
  text-shadow: 1px 1px #fafafa; 
  font-family: 'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;'; 
  transform: translateY(-220%) !important; 
}
#Bio{
  position: relative;
}
#bottom-bor{
 margin-top: 10%;
 z-index: 10;
}
.divider
{
  position: relative;
  margin-top: 19.6%;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
table{
  width: 100%; 
  height: 100%;
}

.translate{
  position: relative;  
}
.translate h1{
  background-color: rgba(0,0,0,0.05);
  padding: 1%; 
}
#globemobile{
  visibility: visible;
  display: block; 
  scale: 0.62;
  margin-left: -10%;  
}
.hero{
  margin-top: -50%; 
  width: 100vw !important; 
  border-collapse: collapse;
  border-spacing: 0; 
  height: 120vh !important; 
}
.hero td{
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
.translate{
  transform: translateX(15%);
  margin-top: -25%; 
}
.hero tr{
  line-height: 1;
  border-bottom: 2px solid #A0A995;
  border-top: 2px solid #A0A995; 
}
.focus{
  width: 90vw; 
}
.focus h1{
  display: block;
  text-align: center;
  font-size: 8vw; 
}

/* */
#texture{
  background: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1336.jpg") repeat 0 0;
  width: 100vw; 
}
#photo img{
  border-radius: 2%; 
}
h1{
  color: white; 
}
table td{
  padding: 100px; 
  color: white;
}
table p{
  text-align: center;
  font-size: 20px;
}
li{
  padding: 12%;
}

ul{
  list-style: none;
}
.bio{
  display: block; 
  object-fit: contain; 
  height: 200vh; 
}

.bio td:nth-child(odd) {
  margin-bottom: 20px !important; /* Add some space between the top and bottom sections */
}
.bio tr{
 /* margin: 70% 0 0 0;  */
  padding: 0 !important; 
}
.bio td{
  padding: 0 !important;
  clear:both !important;
}
.stylechange{
  display: flex !important;
  flex-direction:column !important;
  justify-content: center !important;
  align-items: center !important;

}
#photo2 img{
  border-radius: 2%; 
  /*max-width: 30vw;
  max-height: 50vw; */
  margin-top: 200% !important;
  object-fit: contain;
  scale: 1.5 1.5 !important;
}
#photo1{
  border-radius: 2%;
  max-width: 30vw;
  max-height: 50vw; 
  margin-top: -80% !important;
  object-fit: contain; 
}
#photo1 img{
  scale: 1.5 1 !important;
}
.biohead{
  background-color: rgba(255,0,59,0.8);
  border-radius: 2%; 
  position: relative;
  z-index: 20; 
  transform: translateX(-10%); 
  padding: 0; 
  scale: 0.8 0.8 !important; 
}
.mobile-view{
  visibility: visible;
  display: block;
}
.text{
  visibility: hidden;
  display: none; 
}
#biotxt{
  position: relative;
  height: 1vw !important;  
  background-color: rgba(0,0,0,0.6);
  transition: background-color 0.2s ease-in-out;
  font-size: 16px !important;
  text-align: center;
  width: 60%; 
  margin-left: 12%; 

}
#biotxt:hover{
  background-color: rgba(0,0,0,0.3);
}

.offer{
  background-color: transparent;
  transition: background-color 0.2s ease-in-out; 
  border-radius: 2%; 
  text-align: left; 
  padding-left: 80px; 
  font-size: 20px !important;
  width: 500% !important; /* Or 100% if you want it to take the full width */
  margin: 0 auto !important; /* Centers the paragraph if its width is less than 100% */
  padding: 10px !important; /* Adjust as needed */
}
.offer:hover{
  background-color: rgba(255,255,255,0.3);
}
.opt{
  width: 100%;
  height: 50%; 
  white-space: normal; 
  flex-wrap: wrap; 
}
.glow{
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  scale: 900% 1 !important; 
  padding-left: 50%; 
  padding-right: 8%; 
}
.glow:hover{
  box-shadow: 2px 2px 1px #333333; 
}


.speech-bubble {
  background: #ddd;
  color: #333;
  display: inline-block;
	font-size: 14px;
  line-height: 4em;
  margin-bottom: 1em;
	padding: 0 1em;
	position: relative;
	text-align: center;
	vertical-align: top;
		min-width: 7em;
}
.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	margin-left: -1em;
	position: absolute;
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
}

.speech-bubble.large {
	font-size: 2em;
	padding: 0 1em;
		min-width: 4em;
}

.speech-bubble.rounded {
	border-radius: .4em;
}

.speech-bubble.blue {
	background: #ddf;
	color: #334;
}
.speech-bubble.blue:after {
	border-top-color: #ddf;
}

.footer{
  background-color:#CE2029;
  width: 100vw; 
  text-align: center;
}

  .site-header { 
    transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    border-bottom: 1px solid #DCE0D9;
    background-color: #CE2029;
    height: 5% !important; 
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important; 
    text-shadow: none; 
    object-fit: contain !important; 
    width: 100%;
    color: black; 
    padding: .2em 0.2em;
    overflow: hidden;
    height: 9vh !important; 
    position: fixed !important;
    z-index: 10; 
    text-decoration: none;
    transition: height 0.4s ease-in-out; 
  }
  .site-header.grow{
    height: 80vh !important; 
  }
  .site-navigation {
    flex-direction: column; 
    max-height: 0; /* Set the initial max-height to 0 */
    transition: max-height 0.4s ease-in-out; 
    display:  none !important;
    visibility: hidden !important; 
    z-index: 50; 
    margin: 1.4em 1em 1em 1em;
    min-height: 0; 
  }
  .nav{
    display: block !important; 
  }
  .site-navigation.show{
    display: block; 
    visibility: visible !important; 
    margin: 1.4em 1em 1em 1em;
    padding: 10px; 
    font-weight: 150; 
    max-height: 500px; 
    font-family: "Roboto", sans-serif;
    margin-top: 30% !important; 
  }
  header{
    display: block !important; 
  }
  #logotxt{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px #fafafa;
  }
  .site-header::after {
    content: "";
    clear: both;
  }

  .button {
    transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
    background-color: #CE2029; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10%;
    font-family: Ubuntu;
    box-shadow: 2px 2px 1px #100C08;
  }
 
  .button:hover{
    border: #ccc;
    box-shadow: 2px 2px 1px #ccc;
    background-color: #D63440;
  }
  .button p{
    transform: TranslateY(40%)
  }
  #SignUp{
    position: absolute;
    margin-top: 20%; 
    bottom: 2%
}
  
  .site-identity {
    float: left;
    flex: 1; 
    display: flex;
    align-items: center; 
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    max-width: 65px;
    float: left;
    margin: 5px 10px 0 0;
    transition: 0.6s ease;
    
  }
  .site-identity img:hover{
    background-color: rgba(0,0,0,0.5);
  }
  .site-navigation {
    flex: 1; 
    display: none;
    visibility: hidden; 
    align-items:center; 
    float: right;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: block;
    margin: 1.4em 1em 1em 1em;
    font-weight: 150; 
    font-family: "Roboto", sans-serif;
  }
/* Slideshow container */

.text {
  color: white; 
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #CE2029;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8.0s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.atn{
  margin: 1% 
}


.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.style {
  display: block !important;
  border-radius: 5%;  
  line-height: 150%;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* For bold */
  text-decoration: none;
  color: black; 
  background-color: rgba(255,255,255,0.4);
  border: 1px ridge #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.style span{
  position: relative;
  z-index: 2; 
}

.style:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  text-decoration: underline; 
  border-radius: 5%; 
  transition: all .35s;
}

.style:hover{
  color: #fff;
}

.style:hover:after{
  width: 100%;
}
#up{
  color: white; 
}
#up:hover{
  color: black; 
}
.grow{
  font-size: 25px;
  transition: font-size 0.6s ease-in-out; 
}
.grow:hover{
  font-size: 26px; 
}

.vwrap, .vslide { 
  width: 90%; 
  height: 150px; 
}


 
/* (B) OUTER WRAPPER HIDE SCROLLBAR */
.vwrap { overflow: hidden; }
 
/* (C) SHIFT SLIDES WITH CSS ANIMATION */
/* (C1) SLIDES POSITION */
.vmove { position: relative; bottom: 0%; }
@keyframes slidev {
  0% { bottom: 0; } 30% { bottom: 0; }
  33% { bottom: 100%; } 63% { bottom: 100%; }
  66% { bottom: 200%; } 97% { bottom: 200%; }
  100% { right: 0; }
}
 
/* (C2) MOVE SLIDES */
.vmove { animation: slidev linear 15s infinite; }
.vmove:hover { animation-play-state: paused; }


/*SignUp CSS*/
#black{
  background-color: #100C08 !important; 
  transition: background-color 0.4s ease-in-out;
}
#red{
  background-color: #FF003B !important; 
  transition: background-color 0.4s ease-in-out;
}
#gray{
  background-color: #808F85 !important; 
  transition: background-color 0.4s ease-in-out;
}
#black:hover, #red:hover, #gray:hover{
  opacity: 0.6; 
}
#card-head:hover{
  opacity: 0.6 !important; 
}
 

.text-fade {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; 
  background-color: #f0f0f0; /* Change this to your desired background color */
}

.text-container {
  position: relative;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  padding: 0; 
  left: 0;
  right: 0;
  margin: 0 auto;
}
.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services tr td{
  flex: 1; 
}
.text-segment {
  z-index: 1; 
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px #fafafa;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  opacity: 0;
  animation: fade 16s linear infinite;
}
.text-segement:nthchild(1){
  animation-delay: 0; 
}
.text-segment:nth-child(2) {
  animation-delay: 4s; /* Delay the start of the second segment by 4 seconds */
}

.text-segment:nth-child(3) {
  animation-delay: 8s; /* Delay the start of the third segment by 8 seconds */
}
.text-segment:nth-child(4) {
  animation-delay: 12s; /* Delay the start of the third segment by 8 seconds */
}

@keyframes fade {
  0%, 30% {
      opacity: 0;
  }
  31%, 75% {
      opacity: 1;
  }
  76%, 100% {
      opacity: 0;
  }
}


/* #CE2029  Red
#100C08 Black
#808F85 Darker Grey
#DCE0D9 Lighter grey*/

/* Copy Website 
https://www.athleticlab.com/# */ 
}