@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  /*background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhMWFRUXFxcYFx*/
  background-color: #fafafa; 
 
}
.image{
  background-image: url("./Images/track.jpg") !important;
  background-size: cover !important;
}
.special {
  text-decoration: none;
  color: #100C08;
  transition: color 0.3s, background-size .3s;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;

}
.special:hover, .special:focus {
  text-decoration: none; 
  background-size: 100% 2px;
  color: #ccc;
}
.nav li{
display: inline-block; 
}
#Bio{
position: relative;
transform: translateY(-18%); 
}
#bottom-bor{
margin-top: 10%;
z-index: 10;
}
.divider
{
position: relative;
margin-top: 19.6%;
height: 1px;
}

.div-transparent:before
{
content: "";
position: absolute;
top: 0;
left: 5%;
right: 5%;
width: 90%;
height: 1px;
background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
table{
width: 100%; 
height: 100%;
}
#globe{
/*-webkit-filter: saturate(200%);  Safari 6.0 - 9.0 */
/*filter: saturate(200%);*/
filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
height: 120%;
width: 2000%;
padding: 0;
margin: 1%; 
}
.layout img{
width: 30%;
height: 25%; 
padding: 0; 
}
.translate{
position: relative; 
transform: translateX(80%) translateY(-95%); 
margin-top: -10%; 
}
.translate h1{
background-color: rgba(0,0,0,0.05);
padding: 1.67%; 
}
.layout{
margin: 0; 
padding: 0; 
display: inline;
position: flex; 
transform: translateY(50%);  
transform: translateX(-10%);
margin-left: auto;
margin-right: auto; 
}

.hero{
border-collapse: collapse;
border-spacing: 0; 
}
.hero tr{
line-height: 1;
border-bottom: 2px solid #A0A995;
border-top: 2px solid #A0A995; 
}

.focus h1{
margin-top: -50%; 
text-align: center;
}
.focus2 h1{
margin-top: -10%;
text-align: center;
}

#texture{
background: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1336.jpg") repeat 0 0;
}
#photo img{
border-radius: 2%; 
}
h1{
color: white; 
}
table td{
padding: 100px; 
color: white;
}
table p{
text-align: center;
font-size: 20px;
}
li{
padding: 12%;
}
ul{
list-style: none;
}
.bio tr{
/* margin: 70% 0 0 0;  */
padding: 0; 
}
.biohead{
background-color: rgba(255,0,59,0.8);
border-radius: 2%; 
position: relative;
padding: 8px; 
z-index: 20; 
}
#biotxt{
position: relative;  
transform: translateY(60%);
background-color: rgba(0,0,0,0.6);
transition: background-color 0.2s ease-in-out;
}
#biotxt:hover{
background-color: rgba(0,0,0,0.3);
}
.offer{
background-color: transparent;
transition: background-color 0.2s ease-in-out; 
border-radius: 2%; 
}
.offer:hover{
background-color: rgba(255,255,255,0.3);
}
.glow{
box-shadow: none;
transition: box-shadow 0.2s ease-in-out;
}
.glow:hover{
box-shadow: 2px 2px 1px #333333; 
}


.speech-bubble {
background: #ddd;
color: #333;
display: inline-block;
font-size: 14px;
line-height: 4em;
margin-bottom: 1em;
padding: 0 1em;
position: relative;
text-align: center;
vertical-align: top;
  min-width: 7em;
}
.speech-bubble:after {
border: 1em solid transparent;
border-top-color: #ddd;
content: '';
margin-left: -1em;
position: absolute;
  top: 100%;
  left: 50%;
width: 0;
height: 0;
}

.speech-bubble.large {
font-size: 2em;
padding: 0 1em;
  min-width: 4em;
}

.speech-bubble.rounded {
border-radius: .4em;
}

.speech-bubble.blue {
background: #ddf;
color: #334;
}
.speech-bubble.blue:after {
border-top-color: #ddf;
}

.footer{
background-color:#CE2029;
width: 100%;
text-align: center;
}

.site-header { 
  transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  border-bottom: 1px solid #DCE0D9;
  background-color: #CE2029;
  text-shadow: none; 
  width: 100%;
  color: black; 
  padding: .2em 0.2em; 
  height: 20%; 
  position: fixed;
  z-index: 10; 
  text-decoration: none;
}
.site-header.transparent {
  background-color: transparent; 
  filter: invert(100%);
  color: #fafafa;
  text-shadow: 1px 1px #808F85;
  
  }
#logotxt{
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 1px #fafafa;
}
.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
  background-color: #CE2029; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 10%;
  font-family: Ubuntu;
  box-shadow: 2px 2px 1px #100C08;
  
}
.button:hover{
  border: #ccc;
  box-shadow: 2px 2px 1px #ccc;
  background-color: #D63440;
}
.button p{
  transform: TranslateY(40%)
}
#SignUp{
  position: absolute;
  margin-top: 100px; 
  bottom: 2%;
  left: 25%; 
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 65px;
  float: left;
  margin: 5px 10px 0 0;
  transition: 0.6s ease;
  
}
.site-identity img:hover{
  background-color: rgba(0,0,0,0.5);
}
.site-navigation {
  float: right;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
  font-weight: 150; 
  font-family: "Roboto", sans-serif;
}
/* Slideshow container */
.slideshow-container {
position: relative;
max-width: 99%;
margin: auto;
z-index: 1;
background-color: black; 
}

/* Hide the images by default */
.mySlides {
display: none;
transition: display 0.2s ease-in-out; 
}

/* Next & previous buttons */
.text {
color: white; 
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.active, .dot:hover {
background-color: #CE2029;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 8.0s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.wrapper{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.style {
display: block;
border-radius: 5%;  
line-height: 150%;
font-size: 50px;
font-family: 'Roboto', sans-serif;
font-weight: 700; /* For bold */
text-decoration: none;
color: black; 
background-color: rgba(255,255,255,0.4);
border: 1px ridge #333;
letter-spacing: 2px;
text-align: center;
position: relative;
transition: all .35s;
}

.style span{
position: relative;
z-index: 2; 
}

.style:after{
position: absolute;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
background: #ff003b;
text-decoration: underline; 
border-radius: 5%; 
transition: all .35s;
}

.style:hover{
color: #fff;
}

.style:hover:after{
width: 100%;
}
#up{
color: white; 
}
#up:hover{
color: black; 
}
.grow{
font-size: 25px;
transition: font-size 0.6s ease-in-out; 
}
.grow:hover{
font-size: 26px; 
}


#slider, ul
{
height: 200px;
}

#slider
{
margin: auto;
overflow: hidden;
padding: 20px;
margin-top: 50px;
position: relative;
width: 600px;
}

#slider li
{
float: left;
position: relative;
width: 600px;
display: inline-block;
height: 200px;
}

#slider ul
{
list-style: none;
position: absolute;
left: 0px;
top: 0px;
width: 9000px;
transition: left .2s linear;
-moz-transition: left .2s linear;
-o-transition: left .2s linear;
-webkit-transition: left .2s linear;
margin-left: -25px;
font-family: open sans;
color: #666;
}

/*** Content ***/

.slider-container
{
color:#000;
font-size: 18px;
font-family: Helvetica, sans-serif; 
margin: 0 auto;
padding: 0;
width: 550px;
min-height: 180px;
text-align:center;
}

.slider-container h2
{
 color: #fff;
}

.slider-container  p
{
margin: 10px 25px;
font-weight: semi-bold;
line-height: 150%;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
0% {opacity:0;}
2% {opacity:1;}
20% {left:0px; opacity:1;}
22.5% {opacity:0.6;}
25% {left:-600px; opacity:1;}
45% {left:-600px; opacity:1;}
47.5% {opacity:0.6;}
50% {left:-1200px; opacity:1;}
70% {left:-1200px; opacity:1;}
72.5% {opacity:0.6;}
75% {left:-1800px; opacity:1;}
95% {opacity:1;}
98% {left:-1800px; opacity:0;} 
100% {left:0px; opacity:0;}
}

#slider ul
{
-webkit-animation: slide-animation 20s infinite;
}

#slider ul:hover
{
-moz-animation-play-state: paused;
-webkit-animation-play-state: paused;
}

/*SignUp CSS*/
#black{
background-color: #100C08 !important; 
transition: background-color 0.4s ease-in-out;
}
#red{
background-color: #FF003B !important; 
transition: background-color 0.4s ease-in-out;
}
#gray{
background-color: #808F85 !important; 
transition: background-color 0.4s ease-in-out;
}
#black:hover, #red:hover, #gray:hover{
opacity: 0.6; 
}
#card-head:hover{
opacity: 0.6 !important; 
}


.text-fade {
display: flex;
justify-content: center;
align-items: center;
height: 20%; 
background-color: #f0f0f0; /* Change this to your desired background color */
}

.text-container {
position: relative;
width: max-content;
white-space: nowrap;
overflow: hidden;
position: absolute;
padding: 0; 
left: 0;
right: 0;
margin: 0 auto;
}

.text-segment {
z-index: 1; 
text-align: center;
display: inline-block;
text-shadow: 1px 1px #fafafa;
font-size: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
opacity: 0;
animation: fade 16s linear infinite;
}
.text-segement:nthchild(1){
animation-delay: 0; 
}
.text-segment:nth-child(2) {
animation-delay: 4s; /* Delay the start of the second segment by 4 seconds */
}

.text-segment:nth-child(3) {
animation-delay: 8s; /* Delay the start of the third segment by 8 seconds */
}
.text-segment:nth-child(4) {
animation-delay: 12s; /* Delay the start of the third segment by 8 seconds */
}

@keyframes fade {
0%, 30% {
    opacity: 0;
}
31%, 75% {
    opacity: 1;
}
76%, 100% {
    opacity: 0;
}
}


/* #CE2029  Red
#100C08 Black
#808F85 Darker Grey
#DCE0D9 Lighter grey*/

/* Copy Website 
https://www.athleticlab.com/# */ 
@media (max-width: 768px){
  body {
    margin: 0;
    /*background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhMWFRUXFxcYFx*/
    background-color: #fafafa; 
   
  }
  .image{
    background-image: url("./Images/track.jpg") !important;
    background-size: cover !important;
  }
  .special {
    text-decoration: none;
    color: #100C08;
    transition: color 0.3s, background-size .3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
 
  }
  .special:hover, .special:focus {
    text-decoration: none; 
    background-size: 100% 2px;
    color: #ccc;
}
.nav li{
  display: inline-block; 
}
#Bio{
  position: relative;
  transform: translateY(-18%); 
}
#bottom-bor{
 margin-top: 10%;
 z-index: 10;
}
.divider
{
  position: relative;
  margin-top: 19.6%;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
table{
  width: 100%; 
  height: 100%;
}
#globe{
  /*-webkit-filter: saturate(200%);  Safari 6.0 - 9.0 */
  /*filter: saturate(200%);*/
  filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
  height: 120%;
  width: 2000%;
  padding: 0;
  margin: 1%; 
}
.layout img{
  width: 30%;
  height: 25%; 
  padding: 0; 
}
.translate{
  position: relative; 
  transform: translateX(80%) translateY(-95%); 
  margin-top: -10%; 
}
.translate h1{
  background-color: rgba(0,0,0,0.05);
  padding: 5px; 
}
.layout{
  margin: 0; 
  padding: 0; 
  display: inline;
  position: flex; 
  transform: translateY(50%);  
  transform: translateX(-10%);
  margin-left: auto;
  margin-right: auto; 
}

.hero{
  border-collapse: collapse;
  border-spacing: 0; 
}
.hero tr{
  line-height: 1;
  border-bottom: 2px solid #A0A995;
  border-top: 2px solid #A0A995; 
}

.focus h1{
  margin-top: -50%; 
  text-align: center;
}
.focus2 h1{
  margin-top: -10%;
  text-align: center;
}

#texture{
  background: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1336.jpg") repeat 0 0;
}
#photo img{
  border-radius: 2%; 
}
h1{
  color: white; 
}
table td{
  padding: 50%; 
  color: white;
}
table p{
  text-align: center;
  font-size: 20px;
}
li{
  padding: 12%;
}
ul{
  list-style: none;
}
.bio tr{
 /* margin: 70% 0 0 0;  */
  padding: 0; 
}
.biohead{
  background-color: rgba(255,0,59,0.8);
  border-radius: 2%; 
  position: relative;
  padding: 1%; 
  z-index: 20; 
}
#biotxt{
  position: relative;  
  transform: translateY(60%);
  background-color: rgba(0,0,0,0.6);
  transition: background-color 0.2s ease-in-out;
}
#biotxt:hover{
  background-color: rgba(0,0,0,0.3);
}
.offer{
  background-color: transparent;
  transition: background-color 0.2s ease-in-out; 
  border-radius: 2%; 
}
.offer:hover{
  background-color: rgba(255,255,255,0.3);
}
.glow{
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}
.glow:hover{
  box-shadow: 2px 2px 1px #333333; 
}


.speech-bubble {
  background: #ddd;
  color: #333;
  display: inline-block;
	font-size: 14px;
  line-height: 4em;
  margin-bottom: 1em;
	padding: 0 1em;
	position: relative;
	text-align: center;
	vertical-align: top;
		min-width: 7em;
}
.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	margin-left: -1em;
	position: absolute;
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
}

.speech-bubble.large {
	font-size: 2em;
	padding: 0 1em;
		min-width: 4em;
}

.speech-bubble.rounded {
	border-radius: .4em;
}

.speech-bubble.blue {
	background: #ddf;
	color: #334;
}
.speech-bubble.blue:after {
	border-top-color: #ddf;
}

.footer{
  background-color:#CE2029;
  width: 100%;
  text-align: center;
}

  .site-header { 
    transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    border-bottom: 1px solid #DCE0D9;
    background-color: #CE2029;
    text-shadow: none; 
    width: 100%;
    color: black; 
    padding: .2em 0.2em; 
    height: 40%; 
    position: fixed;
    z-index: 10; 
    text-decoration: none;
  }
  .site-header.transparent {
    background-color: transparent; 
    filter: invert(100%);
    color: #fafafa;
    text-shadow: 1px 1px #808F85;
    
    }
  #logotxt{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px #fafafa;
  }
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }

  .button {
    transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
    background-color: #CE2029; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10%;
    font-family: Ubuntu;
    box-shadow: 2px 2px 1px #100C08;
    
  }
  .button:hover{
    border: #ccc;
    box-shadow: 2px 2px 1px #ccc;
    background-color: #D63440;
  }
  .button p{
    transform: TranslateY(40%)
  }
  #SignUp{
    position: absolute;
    margin-top: 100px; 
    bottom: 10px; /* Adjust this value for your design */
    left: 25%; /* Center the button horizontally */
  /*transform: translateX(-50%); Necessary to truly center the button */
}
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    max-width: 65px;
    float: left;
    margin: 5px 10px 0 0;
    transition: 0.6s ease;
    
  }
  .site-identity img:hover{
    background-color: rgba(0,0,0,0.5);
  }
  .site-navigation {
    float: right;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
    font-weight: 150; 
    font-family: "Roboto", sans-serif;
  }
/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 99%;
  margin: auto;
  z-index: 1;
  background-color: black; 
}

/* Hide the images by default */

.text {
  color: white; 
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.active, .dot:hover {
  background-color: #CE2029;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8.0s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.style {
  display: block;
  border-radius: 5%;  
  line-height: 150%;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* For bold */
  text-decoration: none;
  color: black; 
  background-color: rgba(255,255,255,0.4);
  border: 1px ridge #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.style span{
  position: relative;
  z-index: 2; 
}

.style:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  text-decoration: underline; 
  border-radius: 5%; 
  transition: all .35s;
}

.style:hover{
  color: #fff;
}

.style:hover:after{
  width: 100%;
}
#up{
  color: white; 
}
#up:hover{
  color: black; 
}
.grow{
  font-size: 25px;
  transition: font-size 0.6s ease-in-out; 
}
.grow:hover{
  font-size: 26px; 
}


#slider, ul
{
	height: 200px;
}

#slider
{
	margin: auto;
	overflow: hidden;
	padding: 20px;
	margin-top: 50px;
	position: relative;
	width: 600px;
}

#slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
	height: 200px;
}

#slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .2s linear;
	-moz-transition: left .2s linear;
	-o-transition: left .2s linear;
	-webkit-transition: left .2s linear;
	margin-left: -25px;
  font-family: open sans;
  color: #666;
}

/*** Content ***/

.slider-container
{
  color:#000;
  font-size: 18px;
  font-family: Helvetica, sans-serif; 
	margin: 0 auto;
	padding: 0;
	width: 550px;
  min-height: 180px;
  text-align:center;
}

.slider-container h2
{
 	color: #fff;
}

.slider-container  p
{
	margin: 10px 25px;
	font-weight: semi-bold;
	line-height: 150%;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#slider ul
{
	-webkit-animation: slide-animation 20s infinite;
}

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

/*SignUp CSS*/
#black{
  background-color: #100C08 !important; 
  transition: background-color 0.4s ease-in-out;
}
#red{
  background-color: #FF003B !important; 
  transition: background-color 0.4s ease-in-out;
}
#gray{
  background-color: #808F85 !important; 
  transition: background-color 0.4s ease-in-out;
}
#black:hover, #red:hover, #gray:hover{
  opacity: 0.6; 
}
#card-head:hover{
  opacity: 0.6 !important; 
}
 

.text-fade {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; 
  background-color: #f0f0f0; /* Change this to your desired background color */
}

.text-container {
  position: relative;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  padding: 0; 
  left: 0;
  right: 0;
  margin: 0 auto;
}

.text-segment {
  z-index: 1; 
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px #fafafa;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  opacity: 0;
  animation: fade 16s linear infinite;
}
.text-segement:nthchild(1){
  animation-delay: 0; 
}
.text-segment:nth-child(2) {
  animation-delay: 4s; /* Delay the start of the second segment by 4 seconds */
}

.text-segment:nth-child(3) {
  animation-delay: 8s; /* Delay the start of the third segment by 8 seconds */
}
.text-segment:nth-child(4) {
  animation-delay: 12s; /* Delay the start of the third segment by 8 seconds */
}

@keyframes fade {
  0%, 30% {
      opacity: 0;
  }
  31%, 75% {
      opacity: 1;
  }
  76%, 100% {
      opacity: 0;
  }
}


/* #CE2029  Red
#100C08 Black
#808F85 Darker Grey
#DCE0D9 Lighter grey*/

/* Copy Website 
https://www.athleticlab.com/# */ 
}
@media(max-width: 480px){
  body {
    margin: 0;
    /*background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhMWFRUXFxcYFx*/
    background-color: #fafafa; 
   
  }
  .image{
    background-image: url("./Images/track.jpg") !important;
    background-size: cover !important;
  }
  .special {
    text-decoration: none;
    color: #100C08;
    transition: color 0.3s, background-size .3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
 
  }
  .special:hover, .special:focus {
    text-decoration: none; 
    background-size: 100% 2px;
    color: #ccc;
}
.nav li{
  display: inline-block; 
}
#Bio{
  position: relative;
  transform: translateY(-18%); 
}
#bottom-bor{
 margin-top: 10%;
 z-index: 10;
}
.divider
{
  position: relative;
  margin-top: 19.6%;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
table{
  width: 100%; 
  height: 100%;
}
#globe{
  /*-webkit-filter: saturate(200%);  Safari 6.0 - 9.0 */
  /*filter: saturate(200%);*/
  filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
  height: 120%;
  width: 2000%;
  padding: 0;
  margin: 1%; 
}
.layout img{
  width: 30%;
  height: 25%; 
  padding: 0; 
}
.translate{
  position: relative; 
  transform: translateX(80%) translateY(-95%); 
  margin-top: -10%; 
}
.translate h1{
  background-color: rgba(0,0,0,0.05);
  padding: 1%; 
}
.layout{
  margin: 0; 
  padding: 0; 
  display: inline;
  position: flex; 
  transform: translateY(50%);  
  transform: translateX(-10%);
  margin-left: auto;
  margin-right: auto; 
}

.hero{
  border-collapse: collapse;
  border-spacing: 0; 
}
.hero tr{
  line-height: 1;
  border-bottom: 2px solid #A0A995;
  border-top: 2px solid #A0A995; 
}

.focus h1{
  margin-top: -50%; 
  text-align: center;
}
.focus2 h1{
  margin-top: -10%;
  text-align: center;
}

#texture{
  background: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1336.jpg") repeat 0 0;
}
#photo img{
  border-radius: 2%; 
}
h1{
  color: white; 
}
table td{
  padding: 100px; 
  color: white;
}
table p{
  text-align: center;
  font-size: 20px;
}
li{
  padding: 12%;
}
ul{
  list-style: none;
}
.bio tr{
 /* margin: 70% 0 0 0;  */
  padding: 0; 
}
.biohead{
  background-color: rgba(255,0,59,0.8);
  border-radius: 2%; 
  position: relative;
  padding: 8px; 
  z-index: 20; 
}
#biotxt{
  position: relative;  
  transform: translateY(60%);
  background-color: rgba(0,0,0,0.6);
  transition: background-color 0.2s ease-in-out;
}
#biotxt:hover{
  background-color: rgba(0,0,0,0.3);
}
.offer{
  background-color: transparent;
  transition: background-color 0.2s ease-in-out; 
  border-radius: 2%; 
}
.offer:hover{
  background-color: rgba(255,255,255,0.3);
}
.glow{
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}
.glow:hover{
  box-shadow: 2px 2px 1px #333333; 
}


.speech-bubble {
  background: #ddd;
  color: #333;
  display: inline-block;
	font-size: 14px;
  line-height: 4em;
  margin-bottom: 1em;
	padding: 0 1em;
	position: relative;
	text-align: center;
	vertical-align: top;
		min-width: 7em;
}
.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	margin-left: -1em;
	position: absolute;
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
}

.speech-bubble.large {
	font-size: 2em;
	padding: 0 1em;
		min-width: 4em;
}

.speech-bubble.rounded {
	border-radius: .4em;
}

.speech-bubble.blue {
	background: #ddf;
	color: #334;
}
.speech-bubble.blue:after {
	border-top-color: #ddf;
}

.footer{
  background-color:#CE2029;
  width: 100%;
  text-align: center;
}

  .site-header { 
    transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    border-bottom: 1px solid #DCE0D9;
    background-color: #CE2029;
    text-shadow: none; 
    width: 100%;
    color: black; 
    padding: .2em 0.2em; 
    height: 40%; 
    position: fixed;
    z-index: 10; 
    text-decoration: none;
  }
  .site-header.transparent {
    background-color: transparent; 
    filter: invert(100%);
    color: #fafafa;
    text-shadow: 1px 1px #808F85;
    
    }
  #logotxt{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px #fafafa;
  }
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }

  .button {
    transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
    background-color: #CE2029; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10%;
    font-family: Ubuntu;
    box-shadow: 2px 2px 1px #100C08;
    
  }
  .button:hover{
    border: #ccc;
    box-shadow: 2px 2px 1px #ccc;
    background-color: #D63440;
  }
  .button p{
    transform: TranslateY(40%)
  }
  #SignUp{
    position: absolute;
    margin-top: 20%; 
    bottom: 2%
}
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    max-width: 65px;
    float: left;
    margin: 5px 10px 0 0;
    transition: 0.6s ease;
    
  }
  .site-identity img:hover{
    background-color: rgba(0,0,0,0.5);
  }
  .site-navigation {
    float: right;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
    font-weight: 150; 
    font-family: "Roboto", sans-serif;
  }
/* Slideshow container */

.text {
  color: white; 
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #CE2029;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8.0s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.style {
  display: block;
  border-radius: 5%;  
  line-height: 150%;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* For bold */
  text-decoration: none;
  color: black; 
  background-color: rgba(255,255,255,0.4);
  border: 1px ridge #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.style span{
  position: relative;
  z-index: 2; 
}

.style:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  text-decoration: underline; 
  border-radius: 5%; 
  transition: all .35s;
}

.style:hover{
  color: #fff;
}

.style:hover:after{
  width: 100%;
}
#up{
  color: white; 
}
#up:hover{
  color: black; 
}
.grow{
  font-size: 25px;
  transition: font-size 0.6s ease-in-out; 
}
.grow:hover{
  font-size: 26px; 
}


#slider, ul
{
	height: 200px;
}

#slider
{
	margin: auto;
	overflow: hidden;
	padding: 20px;
	margin-top: 50px;
	position: relative;
	width: 600px;
}

#slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
	height: 200px;
}

#slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .2s linear;
	-moz-transition: left .2s linear;
	-o-transition: left .2s linear;
	-webkit-transition: left .2s linear;
	margin-left: -25px;
  font-family: open sans;
  color: #666;
}

/*** Content ***/

.slider-container
{
  color:#000;
  font-size: 18px;
  font-family: Helvetica, sans-serif; 
	margin: 0 auto;
	padding: 0;
	width: 550px;
  min-height: 180px;
  text-align:center;
}

.slider-container h2
{
 	color: #fff;
}

.slider-container  p
{
	margin: 10px 25px;
	font-weight: semi-bold;
	line-height: 150%;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#slider ul
{
	-webkit-animation: slide-animation 20s infinite;
}

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

/*SignUp CSS*/
#black{
  background-color: #100C08 !important; 
  transition: background-color 0.4s ease-in-out;
}
#red{
  background-color: #FF003B !important; 
  transition: background-color 0.4s ease-in-out;
}
#gray{
  background-color: #808F85 !important; 
  transition: background-color 0.4s ease-in-out;
}
#black:hover, #red:hover, #gray:hover{
  opacity: 0.6; 
}
#card-head:hover{
  opacity: 0.6 !important; 
}
 

.text-fade {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; 
  background-color: #f0f0f0; /* Change this to your desired background color */
}

.text-container {
  position: relative;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  padding: 0; 
  left: 0;
  right: 0;
  margin: 0 auto;
}

.text-segment {
  z-index: 1; 
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px #fafafa;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  opacity: 0;
  animation: fade 16s linear infinite;
}
.text-segement:nthchild(1){
  animation-delay: 0; 
}
.text-segment:nth-child(2) {
  animation-delay: 4s; /* Delay the start of the second segment by 4 seconds */
}

.text-segment:nth-child(3) {
  animation-delay: 8s; /* Delay the start of the third segment by 8 seconds */
}
.text-segment:nth-child(4) {
  animation-delay: 12s; /* Delay the start of the third segment by 8 seconds */
}

@keyframes fade {
  0%, 30% {
      opacity: 0;
  }
  31%, 75% {
      opacity: 1;
  }
  76%, 100% {
      opacity: 0;
  }
}


/* #CE2029  Red
#100C08 Black
#808F85 Darker Grey
#DCE0D9 Lighter grey*/

/* Copy Website 
https://www.athleticlab.com/# */ 
}
